.bg-video {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -10;

    overflow: hidden;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(
            90deg,
            #0b0c10 24.48%,
            rgba(11, 12, 16, 0.8) 54.09%,
            #0c0c10 77.6%
        );
    }
}

.container {
    max-width: 1440px;
    height: 70vh;
    display: flex;
    align-items: center;

    padding: 36px 16px;
    margin: 0 auto;

    @include responsive() {
        height: auto;
        flex-direction: column-reverse;
        overflow: hidden;

        padding: 10px 16px;
    }
}

.container-1 {
    max-width: 568px;
    justify-content: flex-start;

    & p {
        color: $gray-2;
        font-size: 16px;
        text-align: justify;
    }

    @include responsive() {
        width: 100%;
    }
}

.btn,
.btn-secundary {
    display: inline-block;
    padding: 10px 32px;

    color: $white-light;
    background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);

    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;

    border-radius: 3px;
    transform: skewX(-15deg);
    position: relative;

    transition: all 0.5s;
}

.btn {
    &::after,
    &::before {
        content: '';
        width: 10%;
        height: 50%;

        border-radius: 3px;

        position: absolute;

        opacity: 0;

        transition: all 0.5s;
    }

    &::after {
        top: -2px;
        left: -2px;

        border-top: 3px solid $white;
        border-left: 3px solid $white;
    }

    &::before {
        bottom: -2px;
        right: -2px;

        border-bottom: 3px solid $white;
        border-right: 3px solid $white;
    }

    &:hover {
        transform: scale(1.04) skewX(-15deg);

        &::after,
        &::before {
            opacity: 1;
        }
    }
}

.btn-secundary {
    padding: 8px 32px;
    background: transparent;
    border: 2px solid $red;

    &::after {
        content: '';
        width: 0%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        background: $red;

        transition: all 0.5s;
    }

    @include responsive() {
        display: none;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.container-2 {
    display: block;
    transform: translate3d(-120px, -50px, 0);
    z-index: 0;

    @include responsive() {
        transform: translate3d(0, 0, 0);
    }
}

.spiderman {
    width: 110%;

    @include responsive() {
        width: 100%;
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
}

@import '../../../assets/styles/global';
