.container-wallpapers {
    max-width: 1440px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px 16px;

    & p {
        color: $gray-2;
        text-align: justify;
        margin-bottom: 15px;
    }
}

.carousel-wallpapers {
    width: 100%;
    height: 100%;
}

.item-carousel {
    & img {
        width: 110%;
    }
}
